<div class="container-fluid" id="home">
    <div>
        <h1>QUOTES</h1>
        <p style="font-size: 20px">-A fine quote is a diamond in the hand of a man of wit and a pebble in the hand of a
            fool.</p>

        <hr>
        <div class="row">
            <div class="right-half" id="newquotes">
                <h2>Quotes!</h2>
                <div *ngFor='let myquote of quotes;let i = index'>
                    {{myquote.quote}}
                    <p id= "author"><em>~{{myquote.author}}</em></p>
                    <P><button class="btn btn-info" style="color: black" (click)='toggleDetails(i)'>See More</button></P>
                    <div *ngIf='myquote.showDetail'>
                        <app-quote-detail [quote]='myquote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>

                    </div>
                    <div *ngIf="myquote.showDetail" >
                        <app-vote></app-vote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="left-half" id="quoteform">
        <h2 style="padding-right: 190px">Publish a Quote</h2>
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>